#!/usr/bin/env ruby
require 'compass'
Compass.add_project_configuration 'config/compass.config'

compile '/stylesheets/*/' do
   filter :sass, Compass.sass_engine_options
end

compile '/scripts/*/' do
  nil
end

route '/stylesheets/*/' do
   item.identifier.chop + '.css'
end

route '/scripts/*/' do
  item.identifier.chop + '.' + item[:extension]
end

compile '*' do
   filter :haml
   layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5
