#!/usr/bin/env ruby
require 'compass'
Compass.add_project_configuration 'config/compass.config'

compile '/stylesheets/*/' do
  case item[:extension]
  when /sass$/, /scss$/: filter :sass, Compass.sass_engine_options
  else nil
  end
end
route '/stylesheets/*/' do
   item.identifier.chop + '.css'
end

compile '/scripts/*/' do
  nil
end
route '/scripts/*/' do
  item.identifier.chop + '.' + item[:extension]
end

compile '/static/*/' do
  nil
end
route '/static/*/' do
  item.identifier.chop + '.' + item[:extension]
end

compile '*' do
  case item[:extension]
  when /haml$/: filter :haml
  when /markdown$/, /md$/: filter :kramdown
  when /erb$/: filter :erb
  end
   filter :colorize_syntax
   layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5
