---
title: Welcome!
---
#page-text
  %h1 Rails and Flex Consulting
  %p
    We are an experienced consulting and custom software development firm
    specializing in Web application development. We have delivered many
    applications using Ruby/Rails and Flex.
  %h2 Cloud Control
  %p
    Are you thinking of moving your application to the cloud and wondering
    about the best way to do it? We have years of experience designing
    and deploying applcations in the cloud. We can make sure you avoid
    the common pitfalls and design your application to improve performance
    and save money.
  %h2 Search Applications
  %p
    Do you have a huge amount of content that your users need to find effectively
    and quickly. We have created high performance search engines for customers
    who have multiple petabytes of content.
  %h2 Video Storage and Transcoding
  %p
    Do you have video content in numberous formats that you need to
    convert and stream to customers, no matter what platform or mobile
    device they are using? We can help.
  %h2 Custom Software Development
  %p
    We have over ten years experience delivering challenging applications in
    a timely and cost-conscious manner. We can help you design, develop, deliver
    or scale any Web application. 
    %a{:href => '/contact/'} Contact us
    and we will be happy to show you how we can help you.
#sidebar
  %h3 Recent Blog Posts
  - articles = sorted_articles[0..5]
  - articles.each do |article|
    %p
      %a{:href => url_for(article)}= article[:title]
    

