!!!
%html
  %head
    %title
      = "Nanoc Template - #{@item[:title]}"
    %script{ :src => 'scripts/jquery-1.4.2.min.js' }
    %link{ :href => "stylesheets/styles.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %body
    .container
      = yield
