!!!
%html
  %head
    %title
      = "Nanoc Template - #{@item[:title]}"
    %script{ :src => relative_path_to('/scripts/jquery-1.4.2.min.js') }
    %link{ :href => relative_path_to("/stylesheets/styles.css"), :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %body
    .container
      = yield
